.home-start {
    @apply flex items-center;
    &-wrapper {
        @apply py-16;
        background-color: var(--clr-yellow);
        border-radius: 1rem;
    }

    .start-text {
        @apply font-semibold capitalize;
        font-size: 10rem;
        color: black;
        text-align: center;
        display: block;
        line-height: 1.2;
        @include mobile {
            font-size: 4rem;
        }
    }
}
