.section {
    @apply xl:min-h-screen py-8 sm:py-12 xl:py-16;
}

.btn {
    @apply flex justify-center items-center px-3 sm:px-6  py-1 sm:py-2  cursor-pointer capitalize font-normal h-max min-h-[40px];

    $val: 0.625em;
    transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    border-radius: calc($val/2);
    clip-path: polygon($val 0, 100% 0, 100% calc(100% - $val), calc(100% - $val) 100%, 0 100%, 0 $val);
    &:hover {
        clip-path: polygon(0 0, calc(100% - $val) 0, 100% $val, 100% 100%, $val 100%, 0 calc(100% - $val));
    }
    &._yellow {
        background-color: var(--clr-yellow);
    }
}

.panel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: #ffffff;
    font-size: 50px;
    position: relative;
    z-index: 1;
    background-color: white;
    color: black;
}

.section-title {
    @apply text-3xl sm:text-4xl xl:text-6xl uppercase relative text-center mt-16;
    letter-spacing: 2px;

    &::before {
        content: attr(data-text);
        position: absolute;
        top: -1.5rem;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1rem;
        opacity: 0.75;
        background: rgba(255, 255, 255, 0.25);
        backdrop-filter: blur(2px);
        color: black;
        border: 1px solid rgba(0, 0, 0, 0.75);
        padding: 4px 8px;
        border-radius: 1rem;
        text-transform: capitalize;
        font-size: 12px;
        letter-spacing: 1px;
        @include mobile {
            top: -2.5rem;
            padding: 0 1rem;
        }
    }
    &[data-ts] {
        &::before {
            color: white;
        }
    }
}
